openapi: 3.1.0
info:
  title: SkipperClub API
  description: API for the SkipperClub social platform – connecting skippers and sailing enthusiasts.
  version: 1.0.0
  contact:
    name: SkipperClub Team
    email: contact@skipperclub.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.skipperclub.app/v1
    description: Staging server

tags:
  - name: audio
    description: Audio processing and transcription
  - name: auth
    description: Authentication and authorization
  - name: invitations
    description: User invitations system
  - name: check-ins
    description: User location presence (latest check-in per user)
  - name: spots
    description: Community-driven spots directory with admin approval workflow
  - name: cruises
    description: Sailing cruises
  - name: friends
    description: Friend system
  - name: geocoder
    description: Location geocoding and reverse geocoding
  - name: messages
    description: Messaging and chats
  - name: notifications
    description: Notification center
  - name: posts
    description: Social feed and posts
  - name: push
    description: Push notification token management
  - name: regions
    description: Sailing regions
  - name: sailing-brief
    description: Region-based sailing briefs with AI-generated content
  - name: uploads
    description: Media uploads
  - name: users
    description: User profiles and management
  - name: webhooks
    description: Incoming webhooks from external services

security:
  - bearerAuth: []

paths:
  /audio/transcription:
    post:
      operationId: transcribeAudio
      tags: [audio]
      summary: Transcribe audio to text
      description: |
        Transcribes an audio file to text using OpenAI Whisper model.
        Supports multiple audio formats (audio/webm, audio/mpeg, audio/mp3, audio/mp4, audio/wav, audio/ogg) with a maximum file size of 20MB.
        The language for transcription is determined from the Accept-Language header.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                  description: >-
                    Audio file (max 20MB). Supported formats: audio/webm, audio/mpeg,
                    audio/mp3, audio/mp4, audio/wav, audio/ogg
      responses:
        '200':
          description: Audio transcribed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          description: Bad request - no file provided or invalid file
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AudioProblem'
              examples:
                noAudioProvided:
                  value:
                    type: '/errors/no-audio-provided'
                    title: 'No Audio Provided'
                    status: 400
                    detail: 'An audio file must be provided for transcription'
                unsupportedAudioFormat:
                  value:
                    type: '/errors/unsupported-audio-format'
                    title: 'Unsupported Audio Format'
                    status: 400
                    detail: 'The audio file format is not supported. Please use audio/webm format.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AudioProblem'
              examples:
                audioFileTooLarge:
                  value:
                    type: '/errors/audio-file-too-large'
                    title: 'Audio File Too Large'
                    status: 413
                    detail: 'The audio file exceeds the maximum size of 20MB'
        '502':
          description: Transcription service error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AudioProblem'
              examples:
                transcriptionFailed:
                  value:
                    type: '/errors/transcription-failed'
                    title: 'Transcription Failed'
                    status: 502
                    detail: 'The transcription service failed to process the audio'

  /friend-requests:
    get:
      operationId: listFriendRequests
      tags: [friends]
      summary: Get friend requests
      parameters:
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
          description: Filter requests created from this date (inclusive)
          example: '2025-01-01'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of requests to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 10000
          description: Number of requests to skip
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/FriendRequestState'
          description: Filter requests by state
        - name: toDate
          in: query
          schema:
            type: string
            format: date
          description: Filter requests created until this date (inclusive)
          example: '2025-12-31'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortFriendRequests'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of friend requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequestsList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFriendRequest
      tags: [friends]
      summary: Send a friend request
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId:
                  type: string
                  format: uuid
                  description: UUID v7 identifier of the user to send request to
                  example: '018fa2e4-8e3b-7b2e-8e3b-7b2e8e3b7b2e'
      responses:
        '201':
          description: Friend request sent
          headers:
            Location:
              description: URI of the created friend request
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/friend-requests/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Target user not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                targetUserNotFound:
                  value:
                    type: '/errors/target-user-not-found'
                    title: 'Target User Not Found'
                    status: 404
                    detail: 'The target user could not be found'
        '422':
          description: Validation or business logic error
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                type: object
                required: [type, title, status, detail]
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  violations:
                    type: array
                    items:
                      type: object
              examples:
                validationError:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'userId'
                        message: 'userId is required'
                cannotFriendYourself:
                  value:
                    type: '/errors/cannot-friend-yourself'
                    title: 'Cannot Friend Yourself'
                    status: 422
                    detail: 'You cannot send a friend request to yourself'
                usersAlreadyFriends:
                  value:
                    type: '/errors/users-already-friends'
                    title: 'Users Already Friends'
                    status: 422
                    detail: 'These users are already friends'
                friendRequestAlreadyExists:
                  value:
                    type: '/errors/friend-request-already-exists'
                    title: 'Friend Request Already Exists'
                    status: 422
                    detail: 'A friend request already exists between these users'

  /friend-requests/{id}:
    delete:
      operationId: deleteFriendRequest
      tags: [friends]
      summary: Cancel friend request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Request canceled
        '403':
          description: Access denied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                friendRequestAccessForbidden:
                  value:
                    type: '/errors/friend-request-access-forbidden'
                    title: 'Friend Request Access Forbidden'
                    status: 403
                    detail: 'You are not allowed to access this friend request'
        '404':
          description: Friend request not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                friendRequestNotFound:
                  value:
                    type: '/errors/friend-request-not-found'
                    title: 'Friend Request Not Found'
                    status: 404
                    detail: 'The requested friend request could not be found'
        '422':
          description: Invalid friend request state
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                invalidFriendRequestState:
                  value:
                    type: '/errors/invalid-friend-request-state'
                    title: 'Invalid Friend Request State'
                    status: 422
                    detail: 'The friend request cannot be modified in its current state'

    patch:
      operationId: updateFriendRequestState
      tags: [friends]
      summary: Update friend request state
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendRequestStateUpdate'
      responses:
        '200':
          description: Request state updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Access denied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                friendRequestAccessForbidden:
                  value:
                    type: '/errors/friend-request-access-forbidden'
                    title: 'Friend Request Access Forbidden'
                    status: 403
                    detail: 'You are not allowed to access this friend request'
        '404':
          description: Friend request not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                friendRequestNotFound:
                  value:
                    type: '/errors/friend-request-not-found'
                    title: 'Friend Request Not Found'
                    status: 404
                    detail: 'The requested friend request could not be found'
        '422':
          description: Validation or business logic error
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                type: object
                required: [type, title, status, detail]
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  violations:
                    type: array
                    items:
                      type: object
              examples:
                validationError:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'state'
                        message: 'state is required'
                invalidFriendRequestState:
                  value:
                    type: '/errors/invalid-friend-request-state'
                    title: 'Invalid Friend Request State'
                    status: 422
                    detail: 'The friend request cannot be modified in its current state'

  /friends:
    get:
      operationId: listFriends
      tags: [friends]
      summary: Get friends list
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of friends to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of friends to skip
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search phrase to filter friends by name
          example: 'jan'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortFriends'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of friends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendsList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /friends/{friendId}:
    delete:
      operationId: deleteFriend
      tags: [friends]
      summary: Remove friend
      parameters:
        - name: friendId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Friend removed
        '404':
          description: Friendship not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FriendsProblem'
              examples:
                friendshipNotFound:
                  value:
                    type: '/errors/friendship-not-found'
                    title: 'Friendship Not Found'
                    status: 404
                    detail: 'The requested friendship could not be found'

  /geocoder/search:
    get:
      operationId: searchLocations
      tags: [geocoder]
      summary: Search locations by name or address
      description: |
        Search for places and locations using Google Maps Places API Text Search.
        Returns up to 20 matching locations with coordinates, address details, and place information.
        Results are localized based on Accept-Language header.
        Rate limited to 30 requests per minute.
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: Address or place name to search for (supports single-letter city names like "Å" in Norway)
          example: 'Split, Croatia'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 20
          description: Maximum number of results to return
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Location search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocoderSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          description: Geocoding service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeocoderProblem'

  /geocoder/reverse:
    get:
      operationId: reverseGeocode
      tags: [geocoder]
      summary: Convert coordinates to location addresses
      description: |
        Convert geographic coordinates (latitude/longitude) to human-readable addresses
        using Google Maps Reverse Geocoding API.
        Returns up to 20 matching addresses with varying levels of detail.
        Results are localized based on Accept-Language header.
        Rate limited to 30 requests per minute.
      security:
        - bearerAuth: []
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          description: Latitude in WGS84 format (-90 to 90)
          example: 43.5081
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          description: Longitude in WGS84 format (-180 to 180)
          example: 16.4402
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 20
          description: Maximum number of results to return
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Reverse geocoding results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocoderSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          description: Geocoding service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeocoderProblem'

  /geocoder/autocomplete:
    get:
      operationId: autocomplete
      tags: [geocoder]
      summary: Get place autocomplete suggestions
      description: |
        Returns autocomplete predictions for place searches using Google Maps Places Autocomplete API.
        Returns up to 5 matching predictions with place IDs and structured formatting.
        Results are localized based on Accept-Language header.
        Rate limited to 30 requests per minute.

        **Session Tokens**: Use the same sessionToken for autocomplete and subsequent place-details
        requests to group them into a single billing session. This optimizes costs as multiple
        autocomplete requests followed by a place details request are billed as a single request.
      security:
        - bearerAuth: []
      parameters:
        - name: input
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: The text input specifying which place to search for
          example: 'Marina Split'
        - name: sessionToken
          in: query
          required: false
          schema:
            type: string
            maxLength: 64
          description: |
            A random string identifying an autocomplete session for billing purposes.
            Use the same token for autocomplete and the subsequent place-details request.
          example: 'abc123-session-token'
        - name: types
          in: query
          required: false
          schema:
            type: string
            enum:
              ['geocode', 'address', 'establishment', '(regions)', '(cities)']
          description: |
            Type of place results to return:
            - geocode: Only geocoding results
            - address: Results with precise addresses
            - establishment: Business results
            - (regions): Regions (locality, sublocality, postal_code, country, admin areas)
            - (cities): Cities (locality or administrative_area_level_3)
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Autocomplete predictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          description: Geocoding service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeocoderProblem'

  /geocoder/places/{placeId}:
    get:
      operationId: getPlaceDetails
      tags: [geocoder]
      summary: Get detailed information about a place
      description: |
        Returns detailed information about a place using Google Maps Place Details API.
        Use the placeId from autocomplete or search results.
        Results are localized based on Accept-Language header.
        Rate limited to 30 requests per minute.

        **Session Tokens**: Use the same sessionToken from the preceding autocomplete request
        to group requests into a single billing session.
      security:
        - bearerAuth: []
      parameters:
        - name: placeId
          in: path
          required: true
          schema:
            type: string
          description: A textual identifier that uniquely identifies a place
          example: 'ChIJN1t_tDeuEmsRUsoyG83frY4'
        - name: sessionToken
          in: query
          required: false
          schema:
            type: string
            maxLength: 64
          description: |
            The session token from the preceding autocomplete request.
            Using the same token groups the requests for billing optimization.
          example: 'abc123-session-token'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Place details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Place not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeocoderProblem'
              examples:
                placeNotFound:
                  value:
                    type: '/errors/place-not-found'
                    title: 'Place Not Found'
                    status: 404
                    detail: 'The place with ID "invalid-id" could not be found.'
        '503':
          description: Geocoding service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeocoderProblem'

  /health:
    get:
      operationId: getHealth
      tags: []
      summary: Health check
      description: Returns 200 if the API is running.
      security: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: API is healthy
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                type: object
                required: [type, title, status, detail]
                properties:
                  type:
                    type: string
                    example: '/errors/bad-request'
                  title:
                    type: string
                    example: 'Bad Request'
                  status:
                    type: integer
                    example: 400
                  detail:
                    type: string
                    example: 'The request is malformed'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                type: object
                required: [type, title, status, detail]
                properties:
                  type:
                    type: string
                    example: '/errors/service-unavailable'
                  title:
                    type: string
                    example: 'Service Unavailable'
                  status:
                    type: integer
                    example: 503
                  detail:
                    type: string
                    example: 'The service is temporarily unavailable'

  /media:
    post:
      operationId: uploadMedia
      tags: [uploads]
      summary: Upload image or video
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Image or video file
                type:
                  type: string
                  enum: [image, video]
                  default: image
      responses:
        '201':
          description: Media uploaded
          headers:
            Location:
              description: URI of the uploaded media
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/media/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
        '400':
          description: Bad request - no file provided
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MediaProblem'
              examples:
                noFileProvided:
                  value:
                    type: '/errors/no-file-provided'
                    title: 'No File Provided'
                    status: 400
                    detail: 'A file must be provided for media upload'
        '422':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MediaProblem'
              examples:
                unsupportedMediaType:
                  value:
                    type: '/errors/unsupported-media-type'
                    title: 'Unsupported Media Type'
                    status: 422
                    detail: 'The uploaded file type is not supported'

  /media/presigned-url:
    post:
      operationId: generatePresignedUrl
      tags: [uploads]
      summary: Generate presigned URL for media upload
      description: Generate a presigned URL for uploading media files. Supports images (JPEG, PNG, HEIC) up to 10MB and videos (MP4) up to 50MB.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreSignedUrlRequest'
      responses:
        '201':
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreSignedUrlResponse'
        '422':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
              examples:
                invalidFileType:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'fileType'
                        message: 'fileType must be one of the following types: image/jpeg, image/png, image/heic, video/mp4'
                fileSizeExceeded:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'fileSize'
                        message: 'File size exceeds maximum allowed size of 10MB for image files'
                videoSizeExceeded:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'fileSize'
                        message: 'File size exceeds maximum allowed size of 50MB for video files'
                missingFields:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'fileName'
                        message: 'fileName is required'
                      - propertyPath: 'fileType'
                        message: 'fileType must be one of the following types: image/jpeg, image/png, image/heic, video/mp4'
                      - propertyPath: 'fileSize'
                        message: 'fileSize must be at least 1'
                invalidFileSize:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'fileSize'
                        message: 'fileSize must be at least 1'

  /media/{id}/confirm-upload:
    post:
      operationId: confirmUpload
      tags: [uploads]
      summary: Confirm media upload
      description: Confirms that a media file has been successfully uploaded via presigned URL and changes status from PENDING to VALIDATED
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID v7 identifier for the media file
          example: '018fa2e4-8e3b-7b2e-8e3b-7b2e8e3b7b2e'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Media upload confirmed successfully
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MediaProblem'
              examples:
                incorrectStatus:
                  value:
                    type: '/errors/media-incorrect-status'
                    title: 'Media Incorrect Status'
                    status: 400
                    detail: 'Media must have PENDING status to be confirmed, current status is validated'
        '404':
          description: Media not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MediaProblem'
              examples:
                mediaNotFound:
                  value:
                    type: '/errors/media-not-found'
                    title: 'Media Not Found'
                    status: 404
                    detail: 'The requested media could not be found'

  /webhooks/email/sendgrid:
    post:
      operationId: handleSendGridWebhook
      tags: [webhooks]
      summary: Handle SendGrid email events
      description: |
        Endpoint for receiving webhook events from SendGrid (delivery, bounce, open, click, etc.).
        Protected by signature verification.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                  timestamp:
                    type: integer
                  event:
                    type: string
                  sg_message_id:
                    type: string
      responses:
        '200':
          description: Events processed
        '401':
          description: Invalid signature

  /webhooks/email/mailgun:
    post:
      operationId: handleMailgunWebhook
      tags: [webhooks]
      summary: Handle Mailgun email events
      description: |
        Endpoint for receiving webhook events from Mailgun (delivered, opened, clicked, failed, etc.).
        Protected by HMAC-SHA256 signature verification.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailgunWebhookPayload'
      responses:
        '200':
          description: Event processed
        '401':
          description: Invalid signature

  /webhooks/email/aws-ses:
    post:
      operationId: handleAwsSesWebhook
      tags: [webhooks]
      summary: AWS SES/SNS webhook endpoint for email tracking events
      description: |
        Receives webhook events from AWS SNS for SES email delivery tracking.
        Handles three SNS message types:
        - SubscriptionConfirmation: Confirms endpoint subscription
        - UnsubscribeConfirmation: Acknowledges unsubscription
        - Notification: Processes SES delivery events (Delivery, Bounce, Complaint)

        Signature verification is performed using the sns-validator library.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsSnsMessage'
      responses:
        '200':
          description: Event processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      [
                        processed,
                        subscription_confirmed,
                        unsubscribe_acknowledged,
                      ]
        '401':
          description: Invalid or missing SNS signature
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AuthProblem'

  /chats:
    get:
      operationId: listChats
      tags: [messages]
      summary: Get chat list
      description: Returns all chats for the current user (1:1, group, cruise-related)
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of chats to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of chats to skip
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search phrase to filter chats by name or participant names
          example: 'jan'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ChatType'
          description: Filter chats by type
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortChats'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of chats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createChat
      tags: [messages]
      summary: Create new chat
      description: Creates a new 1:1 or group chat. Friendship between participants is not required. Returns existing chat if 1:1 chat already exists.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreate'
      responses:
        '201':
          description: Chat created or existing chat returned
          headers:
            Location:
              description: URI of the chat
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/chats/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: The request was well-formed but contains semantic errors
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
              examples:
                missingParticipantIds:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'participantIds'
                        message: 'participantIds is required'
                emptyParticipantIds:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'participantIds'
                        message: 'participantIds must contain at least 1 participant'
                tooManyParticipants:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'participantIds'
                        message: 'participantIds cannot contain more than 50 participants'
                invalidUuidFormat:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'participantIds[0]'
                        message: 'must be a valid UUID'
                duplicateParticipants:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'participantIds'
                        message: 'participantIds must contain unique values'
                missingGroupName:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'name'
                        message: 'name is required for group chats with 3 or more participants'
                nameTooLong:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'name'
                        message: 'name cannot be longer than 100 characters'

  /chats/{chatId}:
    get:
      operationId: getChat
      tags: [messages]
      summary: Get chat metadata
      description: Retrieves chat information and metadata
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Chat metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '404':
          description: Chat not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'

    delete:
      operationId: deleteChat
      tags: [messages]
      summary: Hide chat for current user
      description: Hides chat from current user's chat list. Does not delete messages globally.
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Chat hidden
        '404':
          description: Chat not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'

  /chats/{chatId}/messages:
    get:
      operationId: listChatMessages
      tags: [messages]
      summary: Get chat messages
      description: Returns messages from chat. If chat was previously deleted by user, history is not visible.
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
          description: Filter messages created from this date (inclusive)
          example: '2025-01-01'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of messages to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of messages to skip
        - name: read
          in: query
          required: false
          schema:
            type: boolean
          description: Filter messages by read status for current user
        - name: toDate
          in: query
          schema:
            type: string
            format: date
          description: Filter messages created until this date (inclusive)
          example: '2025-12-31'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortMessages'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesList'
        '404':
          description: Chat not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'

    post:
      operationId: createChatMessage
      tags: [messages]
      summary: Send message to chat
      description: Sends a message to the specified chat
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreate'
      responses:
        '201':
          description: Message sent
          headers:
            Location:
              description: URI of the sent message
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/chats/01234567-89ab-cdef-0123-456789abcdef/messages/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Chat not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /chats/{chatId}/messages/{messageId}:
    patch:
      operationId: updateMessage
      tags: [messages]
      summary: Update message
      description: Update a specific message (e.g., mark as read)
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
                  description: Mark message as read (true) or unread (false)
              required:
                - read
            examples:
              markAsRead:
                summary: Mark as read
                value:
                  read: true
              markAsUnread:
                summary: Mark as unread
                value:
                  read: false
      responses:
        '204':
          description: Message updated successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '404':
          description: Chat or message not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'
                messageNotFound:
                  value:
                    type: '/errors/message-not-found'
                    title: 'Message Not Found'
                    status: 404
                    detail: 'The requested message could not be found'

  /chats/actions:
    post:
      operationId: performChatAction
      tags: [messages]
      summary: Perform bulk actions on chats (delete or mark messages as read)
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatActionsRequest'
      responses:
        '204':
          description: Action performed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          description: Invalid bulk action parameters
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                invalidBulkAction:
                  value:
                    type: '/errors/invalid-chat-bulk-action'
                    title: 'Invalid Chat Bulk Action'
                    status: 400
                    detail: 'Provide chatIds to perform bulk action'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: User does not have access to one or more chats
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatAccessForbidden:
                  value:
                    type: '/errors/chat-access-forbidden'
                    title: 'Chat Access Forbidden'
                    status: 403
                    detail: 'You do not have permission to access this chat'
        '404':
          description: One or more chats not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/MessagesProblem'
              examples:
                chatNotFound:
                  value:
                    type: '/errors/chat-not-found'
                    title: 'Chat Not Found'
                    status: 404
                    detail: 'The requested chat could not be found'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /chats/unread-count:
    get:
      operationId: getUnreadMessagesCount
      tags: [messages]
      summary: Get unread messages summary
      description: Get summary of unread messages across all chats for current user
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Unread messages count
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalUnread:
                    type: integer
                    description: Total number of unread messages across all chats
                    example: 23
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sailing-briefs:
    get:
      operationId: getSailingBrief
      tags: [sailing-brief]
      summary: Get latest sailing brief for region
      description: |
        Returns the latest pre-generated sailing brief for the specified region.
        Language is resolved from Accept-Language header (EN/PL).
        Requires JWT authentication.
      security:
        - bearerAuth: []
      parameters:
        - name: regionCode
          in: query
          required: true
          schema:
            type: string
            example: 'HR'
          description: Region code
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Sailing brief retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SailingBriefResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No brief available for region
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/SailingBriefProblem'
              examples:
                sailingBriefNotAvailable:
                  value:
                    type: '/errors/sailing-brief-not-available'
                    title: 'Sailing Brief Not Available'
                    status: 404
                    detail: 'No sailing brief has been generated yet for this region'

  /sailing-briefs/list:
    get:
      operationId: listSailingBriefs
      tags: [sailing-brief]
      summary: List historical sailing briefs (Admin)
      description: |
        Returns a paginated list of historical sailing briefs.
        Requires admin role. Language resolved from Accept-Language header.
      security:
        - bearerAuth: []
      parameters:
        - name: regionCode
          in: query
          required: false
          schema:
            type: string
            example: 'HR'
          description: Filter by region code
        - name: timeSlot
          in: query
          required: false
          schema:
            type: string
            enum: [morning, noon, evening]
            example: 'morning'
          description: Filter by time slot
        - name: generationSource
          in: query
          required: false
          schema:
            type: string
            enum: [auto, manual, edited]
            example: 'auto'
          description: Filter by generation source
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
          description: Number of items per page
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
          description: Number of items to skip
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of sailing briefs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SailingBriefListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /sailing-briefs/regenerate:
    post:
      operationId: regenerateSailingBriefs
      tags: [sailing-brief]
      summary: Regenerate sailing briefs with custom prompt (Admin)
      description: |
        Triggers asynchronous regeneration of sailing briefs for selected regions
        with a custom AI prompt. Requires admin role.
        Returns HTTP 202 Accepted with list of enqueued jobs.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRegenerateRequest'
      responses:
        '202':
          description: Regeneration jobs enqueued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRegenerateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /regions:
    get:
      operationId: listRegions
      tags: [regions]
      summary: Get flat list of regions
      description: |
        Returns a flat, UI-ready list of all sailing regions with localization support.

        When `lat` and `lng` coordinates are provided, returns only regions whose boundary
        contains that point, sorted from most specific (highest level) to broadest (lowest level).
      parameters:
        - name: sort
          in: query
          schema:
            type: string
            enum: [hierarchy, popularity]
            default: popularity
          description: Sort method (ignored when coordinates are provided)
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          description: |
            Latitude for location-based filtering. When provided with `lng`,
            returns only regions whose boundary contains this point.
            Results are sorted from most specific (leaf) to broadest (root).
            Must be provided together with `lng` or not at all.
          example: 44.87
        - name: lng
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          description: |
            Longitude for location-based filtering. When provided with `lat`,
            returns only regions whose boundary contains this point.
            Results are sorted from most specific (leaf) to broadest (root).
            Must be provided together with `lat` or not at all.
          example: 13.85
      security: []
      responses:
        '200':
          description: List of regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /regions/tree:
    get:
      operationId: getRegionsTree
      tags: [regions]
      summary: Get hierarchical tree of regions
      description: Returns a nested tree structure of all sailing regions with localization support
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      security: []
      responses:
        '200':
          description: Tree structure of regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionTreeRoot'
        '400':
          $ref: '#/components/responses/BadRequest'

  /posts:
    get:
      operationId: listPosts
      tags: [posts]
      summary: Get post feed
      description: |
        Returns a paginated list of posts. By default, only `published` posts that are not effectively expired are returned.

        **Effective Expiration**: A post is "effectively expired" when `status = published` AND `expiresAt <= NOW()`.

        **Visibility Rules**:
        - Without `userId`: Only `published` posts that are NOT effectively expired. Non-published status filters return 422.
        - With `userId != currentUserId`: Only `published` posts that are NOT effectively expired. Non-published status filters return 422.
        - With `userId = currentUserId`: Author sees their effectively expired posts AND can filter by author-only statuses.

        **Region Filtering**: When `regionCode` is provided, posts are filtered by that region and all its descendants (subtree filtering via hierarchy).

        **Cross-Region Types**: Post types listed in `crossRegionTypes` bypass the `regionCode` filter and are returned from all regions.
      parameters:
        - name: fromDate
          in: query
          schema:
            type: string
            format: date-time
          description: |
            Filter posts created from this date (inclusive).
            Format: ISO 8601 with timezone (e.g., 2025-12-30T12:00:00Z).
            Dates without timezone return 422.
          example: '2025-01-01T00:00:00Z'
        - name: hashtag
          in: query
          schema:
            type: string
          description: Filter posts by hashtag (case-insensitive, without # prefix)
          example: 'sailing'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of posts to return
        - name: locationName
          in: query
          schema:
            type: string
          description: Filter posts by location name (case-insensitive substring match)
          example: 'split'
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of posts to skip
        - name: toDate
          in: query
          schema:
            type: string
            format: date-time
          description: |
            Filter posts created until this date (inclusive).
            Format: ISO 8601 with timezone (e.g., 2025-12-31T23:59:59Z).
            Dates without timezone return 422.
          example: '2025-12-31T23:59:59Z'
        - name: type
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PostType'
          style: form
          explode: true
          description: Filter by post type(s)
        - name: regionCode
          in: query
          schema:
            type: string
          description: |
            Filter by region code and all its descendants (subtree filtering via hierarchy).
            Returns 422 if the region code does not exist.
          example: 'ADR-HR'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/FilterablePostStatus'
          style: form
          explode: true
          description: |
            Filter by status(es). Supports multiple values.
            Default: only `published` posts are returned.

            **Important**: Without `userId`, the endpoint behaves as a general feed and ONLY returns `published` posts 
            (not effectively expired). If `status` filter contains any value other than `published`, the API returns 422.
            To query own `archived/expired/resolved` posts, you MUST use `userId=currentUserId`.

            Invalid status values (including 'deleted' and any non-existent status) return 422 validation error.
        - name: crossRegionTypes
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CrossRegionPostType'
          style: form
          explode: true
          description: |
            Evergreen post types that bypass regionCode filter and return from all regions.
            Only accepts: photo, place, food, spot, tips, route.
            Time-sensitive types (berth, weather, navigation_warning, help) are NOT allowed.
            Returns 422 if non-evergreen types are provided.
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
          description: |
            Filter posts by author ID. When specified, returns only posts by this user.
            For other users: only `published` posts that are NOT effectively expired are returned.
            For the requesting user (own posts): all non-deleted statuses are returned per `status` filter,
            including effectively expired posts.
            This replaces the deprecated `GET /users/{userId}/posts` endpoint.
        - name: lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          description: |
            Latitude for location-based search. Must be provided together with `lng` and `distance`.
            When provided, only posts with coordinates within the specified distance are returned.
            Posts without coordinates are excluded.
          example: 43.508133
        - name: lng
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          description: |
            Longitude for location-based search. Must be provided together with `lat` and `distance`.
          example: 16.440193
        - name: distance
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: |
            Search radius in kilometers (1-100). Must be provided together with `lat` and `lng`.
            Posts without coordinates are excluded when this filter is applied.
          example: 10
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortPosts'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Feed of posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostsList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            Validation failed. Possible causes:
            - Invalid regionCode (does not exist)
            - Invalid crossRegionTypes (contains non-evergreen types)
            - Invalid status filter (contains deleted, or non-published without userId=currentUserId)
            - Invalid date format (missing timezone)
            - Location parameters incomplete (lat, lng, distance must all be provided together)
            - sort=distance used without location parameters
          $ref: '#/components/responses/UnprocessableEntity'

    post:
      operationId: createPost
      tags: [posts]
      summary: Create a new post
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreate'
      responses:
        '201':
          description: Created post
          headers:
            Location:
              description: URI of the created post
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/posts/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /posts/{postId}:
    delete:
      operationId: deletePost
      tags: [posts]
      summary: Delete a post (only author)
      description: |
        Soft delete a post. Only the author can perform this operation.
        Sets the post status to `deleted` and records `deletedAt` timestamp.

        Soft delete is allowed from any non-deleted status: published, archived, expired, or resolved.
        After deletion, the post returns 404 for all subsequent API requests, including for the author.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Post deleted
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Post not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

    get:
      operationId: getPost
      tags: [posts]
      summary: Get post details
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Post data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          description: Post not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

    put:
      operationId: updatePost
      tags: [posts]
      summary: Update a post (only author)
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Post updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: Validation error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
              examples:
                missingDescription:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'description'
                        message: 'description should not be empty'
                emptyDescriptionMessage:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'description'
                        message: 'description must be longer than or equal to 1 characters'
                descriptionTooLong:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'description'
                        message: 'description must be shorter than or equal to 2200 characters'
                missingMediaIds:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'mediaIds'
                        message: 'mediaIds should not be empty'
                emptyMediaIds:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'mediaIds'
                        message: 'mediaIds must contain at least 1 elements'
                tooManyMediaIds:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'mediaIds'
                        message: 'mediaIds must contain no more than 10 elements'
                invalidMediaIdFormat:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'mediaIds.0'
                        message: 'each value in mediaIds must be a UUID'
                locationTooLong:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'location'
                        message: 'location must be shorter than or equal to 255 characters'
                tooManyTaggedUsers:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'taggedUserIds'
                        message: 'taggedUserIds must contain no more than 20 elements'
                invalidTaggedUserIdFormat:
                  value:
                    type: '/errors/validation'
                    title: 'Validation Failed'
                    status: 422
                    detail: 'The request contains invalid data'
                    violations:
                      - propertyPath: 'taggedUserIds.0'
                        message: 'each value in taggedUserIds must be a UUID'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Post not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

    patch:
      operationId: partiallyUpdatePost
      tags: [posts]
      summary: Partially update a post (only author)
      description: |
        Partially update a post. Only the author can perform this operation.
        Omitted fields are not modified. Fields set to null are cleared (where applicable).
        Note: type is immutable and cannot be changed after creation.
        Route-specific fields (stops, durationDays, lengthNm) are only valid for route posts.

        Status transitions: published→archived (any type), published→resolved (time-sensitive only).
        Cannot edit posts in non-editable states (archived, expired, resolved, effectively expired).
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPartialUpdate'
      responses:
        '200':
          description: Post updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Post not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

  /posts/{postId}/comments:
    get:
      operationId: listPostComments
      tags: [posts]
      summary: Get comments for a post
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SortComments'
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: List of comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createPostComment
      tags: [posts]
      summary: Add a comment to a post
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 500
                  example: 'This is a comment on the post.'
      responses:
        '201':
          description: Created comment
          headers:
            Location:
              description: URI of the created comment
              schema:
                type: string
                format: uri
                example: 'https://api.skipperclub.app/v1/posts/01234567-89ab-cdef-0123-456789abcdef/comments/01234567-89ab-cdef-0123-456789abcdef'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /posts/{postId}/comments/{commentId}:
    delete:
      operationId: deletePostComment
      tags: [posts]
      summary: Delete comment
      description: Delete a comment (only by comment author or post author)
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Comment deleted
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Post or comment not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'
                commentNotFound:
                  value:
                    type: '/errors/comment-not-found'
                    title: 'Comment Not Found'
                    status: 404
                    detail: 'The requested comment could not be found'

    put:
      operationId: updatePostComment
      tags: [posts]
      summary: Update comment
      description: Update a comment (only by comment author)
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 500
                  example: 'This is an updated comment text.'
      responses:
        '200':
          description: Comment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Post or comment not found
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'
                commentNotFound:
                  value:
                    type: '/errors/comment-not-found'
                    title: 'Comment Not Found'
                    status: 404
                    detail: 'The requested comment could not be found'

  /posts/{postId}/reactions/{reactionType}:
    put:
      operationId: addReaction
      tags: [posts]
      summary: Add reaction to post
      description: |
        Add an emoji reaction to a post. Idempotent - returns 200 if already exists.
        Reactions are only allowed on `published` posts that are not effectively expired (per D4 decision).
        All other statuses return 404 for everyone, including the author.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post UUID v7 identifier
        - name: reactionType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ReactionType'
          description: Reaction type slug
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Reaction added (or already existed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found or not accessible (deleted, non-published, or effectively expired)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'
        '422':
          description: Invalid reaction type (enum validation via class-validator)
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      operationId: removeReaction
      tags: [posts]
      summary: Remove reaction from post
      description: |
        Remove an emoji reaction from a post. Idempotent - returns 204 even if not exists.
        Reactions are only allowed on `published` posts that are not effectively expired (per D4 decision).
        All other statuses return 404 for everyone, including the author.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post UUID v7 identifier
        - name: reactionType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ReactionType'
          description: Reaction type slug
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Reaction removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found or not accessible (deleted, non-published, or effectively expired)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'
        '422':
          description: Invalid reaction type (enum validation via class-validator)
          $ref: '#/components/responses/UnprocessableEntity'

  /posts/{postId}/bookmark:
    put:
      operationId: addBookmark
      tags: [posts]
      summary: Bookmark a post
      description: |
        Add post to user's private bookmarks. Idempotent.
        Bookmarks are only allowed on `published` posts that are not effectively expired (per D4 decision).
        All other statuses return 404 for everyone, including the author.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post UUID v7 identifier
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Post bookmarked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBookmarkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found or not accessible (deleted, non-published, or effectively expired)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

    delete:
      operationId: removeBookmark
      tags: [posts]
      summary: Remove bookmark
      description: |
        Remove post from user's bookmarks. Idempotent.
        Bookmarks are only allowed on `published` posts that are not effectively expired (per D4 decision).
        All other statuses return 404 for everyone, including the author.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post UUID v7 identifier
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '204':
          description: Bookmark removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found or not accessible (deleted, non-published, or effectively expired)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PostsProblem'
              examples:
                postNotFound:
                  value:
                    type: '/errors/post-not-found'
                    title: 'Post Not Found'
                    status: 404
                    detail: 'The requested post could not be found'

  /posts/{postId}/validity-vote:
    put:
      operationId: castValidityVote
      tags: [posts]
      summary: Cast validity vote
      description: |
        Vote on whether time-sensitive post information is still valid.
        Only applicable to berth, weather, and navigation_warning post types.
        Votes are immutable - attempting to change an existing vote returns 409.
        When 3 report_invalid votes are reached, post is auto-resolved.

[...]
